/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("../font/Pretendard-Light.woff2") format("woff2"),
    url("../font/Pretendard-Light.woff") format("woff");
  font-display: auto;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("../font/Pretendard-Regular.woff2") format("woff2"),
    url("../font/Pretendard-Regular.woff") format("woff");
  font-display: auto;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("../font/Pretendard-Medium.woff2") format("woff2"),
    url("../font/Pretendard-Medium.woff") format("woff");
  font-display: auto;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("../font/Pretendard-SemiBold.woff2") format("woff2"),
    url("../font/Pretendard-SemiBold.woff") format("woff");
  font-display: auto;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("../font/Pretendard-Bold.woff2") format("woff2"),
    url("../font/Pretendard-Bold.woff") format("woff");
  font-display: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700&display=swap");
